.tree-megamenu{
	width:31%;	
	float:left;
	overflow:hidden;
	margin-right:20px;
	background: #f9f9f9;
	padding: 30px 20px;
	border-radius: 10px 10px 10px;
}
.megamenu-form{
	width: 60%;
}
td > i {
	display:block;
	font-size:11px;
}
.btn-updatetree{
/*	padding:6px 30px;
	background: #5CB85C;
	border:none;
	color:#FFF;*/
}
.quickdel{
	background:url(../image/filemanager/edit-delete.png) no-repeat center center;
	
}
.quickedit{
	background:url(../image/filemanager/edit-rename.png) no-repeat center center;
}
.quickedit, .quickdel{
	float:right;
	width:25px;
	height:16px;
	display:block;
	cursor:hand; cursor:pointer;
	overflow:hidden;
	text-indent:-999em;
	margin:0 5px;
}
.hide{
	display:none
}
.show{
	display:block
}
#ajaxloading{
	position:fixed;
	top:0;
	right:0;
	width:100%;
	z-index:1200
}
#ajaxloading > div{
	margin:12px;
}	
.megamenu-form{
	float:left;
}
.placeholder {
			outline: 1px dashed #4183C4;
			/*-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			margin: -1px;*/
		}

		.mjs-nestedSortable-error {
			background: #fbe3e4;
			border-color: transparent;
		}

		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 1em 0;
		}

		.sortable li {
			margin: 5px 0 0 0;
			padding: 0;
		}

		.sortable li div  {
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 8px;
			margin: 0;
			cursor: move;
			background: #FFF;
		 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}

		.sortable li.mjs-nestedSortable-branch div {
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

		}

		.sortable li.mjs-nestedSortable-leaf div {
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

		}

		li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
			border-color: #999;
			background: #fafafa;
		}

		.disclose {
			cursor: pointer;
			width: 10px;
			display: none;
		}

		.sortable li.mjs-nestedSortable-collapsed > ol {
			display: none;
		}

		.sortable li.mjs-nestedSortable-branch > div > .disclose {
			display: inline-block;
		}

		.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
			content: '+ ';
		}

		.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
			content: '- ';
		}

	.sortable li.active > div{
		border-color: #e3503e;
	}