 <nav class="mainmenu">
 	<div class="navbar navbar-expand-lg navbar-light">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megamenu">
		  	<i class="fa fa-bars"></i>
		  </button>
		</div>
		<div class="collapse navbar-collapse">
			{{ treemenu }}
		</div>
	</div>	
</nav>