{% if logged %} 

{% elseif qq_login_authorized %} 

{% elseif is_weixin %} 

{% else %}   
<div class="list-group">
	<a href="{{ qq_login_url }} " class="list-group-item"><img src="catalog/view/theme/default/image/qq_login.png" title="{{ text_qq_login }}" alt="{{ text_qq_login }}" border="0" /></a>
      
</div>
{% endif %}