<div id="search" class="input-group mt-3">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg" aria-label="search">
  <div class="input-group-append">
    <button type="button" class="btn btn-light btn-lg"><i class="fas fa-search"></i></button>
  </div>
</div>
<div id="suggest-search">
	<ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link" href="#">Iphone</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">手机</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link showcolor" href="#">麦卢卡奶粉</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">保健品</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">运动鞋</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">项链</a>
	  </li>
	  
	</ul>
</div>