<div id="search" class="input-group mb-3 pcsearch">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg" aria-label="search">
  <div class="input-group-append">
    <button type="button" class="btn btn-lg">搜索</button>
  </div>
</div>
<ul class="hot-query">
	<li><a href="#">针织衫</a></li>
	<li class="hot-query-highlight"><a href="#">连衣裙</a></li>
	<li><a href="#">四件套</a></li>
	<li class="hot-query-highlight"><a href="#">摄像头</a></li>
	<li><a href="#">客厅灯</a></li>
	<li><a href="#">口红</a></li>
	<li class="hot-query-highlight"><a href="#">手机</a></li>
	<li><a href="#">运动鞋</a></li>
	<li class="hot-query-highlight"><a href="#">牛奶</a></li>
	<li><a href="#">仿真花</a></li>
	<li><a href="#">洗发水</a></li>
</ul>