# Config and  Files
/config.php
/admin/config.php

# Image File
!/image/no_image.jpg

# Image Cache Files
/image/cache/*
!/image/cache/index.html

# System Cache Files
/system/storage/cache/*
!/system/storage/cache/index.html

# Modification Files
/system/storage/modification/*
!/system/storage/modification/index.html

# Templates Files
/image/templates/*
/image/templates/default.jpg

# Download Files
/system/storage/download/*
!/system/storage/download/index.html

# Upload Files
/system/storage/upload/*
!/system/storage/upload/index.html

# Log Files
/system/storage/logs/*
!/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /backup.install/*
# /install/*
