/storage
/.htaccess
/config.php
/admin/config.php

# Image File
!/image/no_image.jpg

# Image Cache Files
/image/cache/*
!/image/cache/index.html

# Templates Files
/image/templates/*
/image/templates/default.jpg

# Backup Files
/system/storage/backup/*
!/system/storage/backup/index.html

# System Cache Files
/system/storage/cache/*
!/system/storage/cache/index.html

# Download Files
/system/storage/download/*
!/system/storage/download/index.html

# Log Files
/system/storage/logs/*
!/system/storage/logs/index.html

# Marketing Files
/system/storage/marketing/*
!/system/storage/marketing/index.html

# Modification Files
/system/storage/modification/*
!/system/storage/modification/index.html

# Session Files
/system/storage/session/*
!/system/storage/session/index.html

# Upload Files
/system/storage/*
!/system/storage/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /flags/*

# If you want to ignore install file use following lines [on development mode]
# /backup.install/*
# /install/*

/tests/phpunit/vendor/*
/tests/phpunit/composer.lock
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
/.idea