.yt-gallery{
	width:100%;
	display:inline-block
}
.yt-gallery .gallery-title {
  margin: 0 8px 10px;
  font-size: 150%;
}
.yt-gallery .tabnav { width:100%;}
.yt-gallery .tabnav li{float:left;}
.yt-gallery .tabnav li span{height:30px; line-height:30px; padding:0 20px;border:1px solid #fff; font-size:12px; font-weight:bold; border-radius:5px 5px 0 0; display:block; color:#fff;background:#c6c7cc;margin-right:2px}
.yt-gallery .tabnav li.active span{background:#4e9e41;}

.yt-gallery ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.yt-gallery ul li {
  float: left;
  padding: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor:pointer;
}
.yt-gallery ul li .item-gallery {
  position: relative;
 
}
.yt-gallery ul li .item-gallery a {
  display: block;
  position: relative;
  overflow: hidden;
}
.yt-gallery ul li .item-gallery a h3.item-gallery-title {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  padding: 5px 15px 5px 10px;
  color: #fff;
  position: absolute;
  left: -105%;
  bottom: 10px;
  z-index: 9;
  width: 100%;
  line-height: 22px;
  background: rgba(0,0,0,0.7);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.yt-gallery ul li .item-gallery a .image-overlay {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  background: transparent;
}

.yt-gallery ul li .item-gallery a img {
  width: 100%;
}
.yt-gallery ul li .item-gallery .item-gallery-hover1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-size: 30px 30px;
    background:url(../images/magnifier.png) center center no-repeat #000;
	 cursor: pointer;
}
.yt-gallery ul li .item-gallery .item-gallery-hover2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-size: 30px 30px;
  -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background:url(../images/magnifier2.png) center center no-repeat #4e9e41;
   cursor: pointer;
}
.yt-gallery ul li .item-gallery:hover .item-gallery-hover1 {
  opacity: 0.7;
  -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
  filter: alpha(opacity=100);
 
}
.yt-gallery ul li .item-gallery:hover .item-gallery-hover2 {
  opacity: 1;
  -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #4e9e41;
    -moz-box-shadow: 0px 0px 4px #4e9e41;
    box-shadow: 0px 0px 4px #4e9e41;
  filter: alpha(opacity=100);
 
}
.yt-gallery ul li .item-gallery h3.item-gallery-title.caption_gallery_2 {
  left: 0;
}
.yt-gallery ul li .item-gallery:hover h3.item-gallery-title.caption_gallery_2 {
  left: -105%;
}
.yt-gallery ul li h4.item-gallery-title {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  padding: 5px 15px 5px 10px;
  color: #000;
  width: 100%;
  line-height: 22px;
  background: none;
  display: none;
}
.yt-gallery ul li h4.item-gallery-title.caption_gallery_1{
  display: block;
  color: #000;
}
.yt-gallery ul li:hover h4.item-gallery-title.caption_gallery_1{
  display: block;
    cursor: default;
}