@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #eb3740; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-7 {
  background-color: #fff;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/ }
  .typeheader-7 .logo {
    text-align: center; }
  .typeheader-7.navbar-compact .header-middle {
    padding: 10px 0; }
  .typeheader-7.navbar-compact #cart {
    margin-top: 3px; }
  .typeheader-7 .header-top {
    font-size: 12px;
    min-height: 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e9e9e9; }
  .typeheader-7 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-7 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-7 .lang-curr {
    float: right; }
  .typeheader-7 .header-middle {
    clear: both;
    padding: 27px 0; }
  .typeheader-7 .header-bottom {
    background-color: #22282e; }
  .typeheader-7 .bottom1 {
    padding-right: 55px; }
  .typeheader-7 .main-menu {
    padding-left: 0; }
  .typeheader-7 .login-w {
    padding-left: 30px;
    float: right; }
  .typeheader-7 .login-w li {
    float: left; }
  .typeheader-7 .login-w li i {
    font-size: 18px;
    color: #999;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 38px;
    float: left;
    margin-right: 10px; }
  .typeheader-7 .login-w li a {
    color: #999; }
  .typeheader-7 .login-w li a b {
    color: #222;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 5px; }
  .typeheader-7 .login-w li a span {
    float: left;
    line-height: 15px; }
  .typeheader-7 .telephone {
    float: left; }
  .typeheader-7 .welcome-msg {
    float: left; }
  .typeheader-7 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    display: inline-flex; }
  .typeheader-7 ul.top-link > li {
    line-height: 40px;
    display: inline-block;
    position: relative;
    list-style: outside none none;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 0;
    font-size: 12px; }
  .typeheader-7 ul.top-link > li.language {
    min-height: 23px; }
  .typeheader-7 ul.top-link > li .btn-group {
    display: inline;
    line-height: 40px;
    padding: 12px 0; }
  .typeheader-7 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none; }
  .typeheader-7 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-7 ul.top-link > li:after {
    background-color: #bebebe;
    content: "";
    height: 10px;
    position: absolute;
    left: 0;
    top: 16px;
    width: 1px; }
  .typeheader-7 ul.top-link > li > a {
    padding-left: 3px; }
  .typeheader-7 ul.top-link > li.account {
    line-height: 40px; }
  .typeheader-7 ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
  .typeheader-7 ul.top-link > li.account:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 12px; }
  .typeheader-7 ul.top-link > li.account .dropdown-menu {
    left: 0;
    right: auto; }
  .typeheader-7 ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-7 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-7 ul.top-link > li.welcome-msg, .typeheader-7 ul.top-link > li:first-child {
    padding-left: 0px;
    margin-left: 0px; }
  .typeheader-7 ul.top-link > li.welcome-msg:after, .typeheader-7 ul.top-link > li:first-child:after {
    display: none; }
  .typeheader-7 ul.top-link.lang-curr li .dropdown-menu img {
    position: relative;
    top: -2px; }
  .typeheader-7 #sosearchpro .search {
    position: relative;
    margin: 0;
    width: 270px;
    border: 1px solid #ebebeb;
    border-radius: 3px; }
  .typeheader-7 #sosearchpro .search .select_category {
    display: none;
    border: none;
    border-right: 1px solid #d7d7d7;
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    width: 22%; }
  .typeheader-7 #sosearchpro .search .select_category select {
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 12px;
    padding: 0 15px; }
  .typeheader-7 #sosearchpro .search .select_category select:hover {
    cursor: pointer; }
  .typeheader-7 #sosearchpro .search .select_category.icon-select:after {
    color: #999;
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 42px;
    right: 0;
    left: auto; }
  .typeheader-7 #sosearchpro .search .input-group-btn {
    width: 40px; }
  .typeheader-7 #sosearchpro .search button {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    text-transform: upper-case;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  .typeheader-7 #sosearchpro .search button i {
    font-size: 12px;
    color: #fff; }
  .typeheader-7 #sosearchpro .search input {
    border: none;
    border-radius: 0px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #fff;
    z-index: 0;
    height: 38px;
    padding-left: 15px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #999; }
  .typeheader-7 #sosearchpro .search input::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .typeheader-7 #sosearchpro .search input:-ms-input-placeholder {
    color: #999; }
  .typeheader-7 #sosearchpro .search input::-webkit-input-placeholder {
    color: #999; }
  .typeheader-7 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-7 .shopping_cart {
    float: right;
    position: relative; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 40px; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
    font-size: 18px;
    color: #fff; }
  @media (min-width: 991px) and (-webkit-min-device-pixel-ratio: 0) {
        .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
          padding-top: 3px; } }
  .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    float: left;
    color: #222;
    margin-left: 15px; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
    font-size: 14px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 5px;
    line-height: 100%;
    text-transform: uppercase; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
    font-size: 12px;
    float: left;
    line-height: 100%;
    font-weight: 700; }
    .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2 {
      display: none; }
    .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
      width: 22px;
      height: 22px;
      line-height: 18px;
      text-align: center;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      position: absolute;
      top: -6px;
      left: 27px;
      font-size: 12px;
      color: #fff;
      border: 2px solid #fff; }
    .typeheader-7 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
      color: #222;
      text-indent: -6px;
      display: block;
      overflow: hidden; }
  .typeheader-7 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -15px;
    left: auto;
    color: #666; }
  .typeheader-7 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-7 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li {
    margin-right: 35px; }
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li > a {
    line-height: 100%;
    color: #fff; }
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li.style-page > .sub-menu {
    right: 0 !important; }
  .typeheader-7 .container-megamenu.vertical {
    position: relative; }
  .typeheader-7 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
    background-color: transparent; }
  .typeheader-7 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
    color: #fff;
    line-height: 45px;
    text-shadow: none;
    border-radius: 0; }
    .typeheader-7 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
      padding-top: 14px; }
      .typeheader-7 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span {
        background-color: #fff; }
    .typeheader-7 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container:after {
      font-family: 'FontAwesome';
      content: "\f107";
      font-size: 16px;
      color: #fff;
      position: absolute;
      right: 20px;
      top: 0;
      font-weight: 400; }
  @media (min-width: 992px) {
    .typeheader-7 .container-megamenu.vertical .vertical-wrapper {
      visibility: hidden;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s;
      position: absolute;
      width: 100%;
      top: 60px; }

    .typeheader-7 .container-megamenu.vertical:hover .vertical-wrapper {
      visibility: visible;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s;
      top: 45px; } }
