.yt-pricing { display: table; border-radius: 5px; clear: both; overflow: auto; margin-bottom:10px; width:100%;}
.yt-pricing .style1.column{border-top: 1px solid #ccc;margin-top:20px;padding:30px 0px; text-align:center;border: 1px solid #ccc;}
.yt-pricing .style1.column{border-radius: 5px}
.yt-pricing .style1.pricing-money.block{margin-bottom: 20px;}
.yt-pricing .style1.column ul li{border-bottom: #ededed 1px solid; padding: 10px 15%; list-style: inside; text-align: left;}
.yt-pricing .style1.column ul li:first-child{border-top: 1px solid #ededed;}
.yt-pricing .style1.column .pricing-bottom{display: table;  width: 100% }
.yt-pricing .style1.column .pricing-bottom .signup{ border:1px solid #ccc; margin:30px auto; background: #fff; border-radius: 3px;position: relative; display: inline-block;}
.yt-pricing .style1.column .pricing-bottom .signup a{padding: 10px 10px 10px 20px;line-height: 40px;}
.yt-pricing .style1.column .pricing-bottom .iconsignup{background: #7dacda;width: 25px; height: 25px; z-index: 3; position: absolute;top:18%; left: -1%; border-radius: 50%; vertical-align: text-top; color: #fff; margin-left: -12px}
.yt-pricing .style1.column.featured .pricing-bottom .iconsignup{background: #e74847 ;width: 25px; height: 25px; z-index: 3; position: absolute;top:18%; left: -1%; border-radius: 50%;}
.yt-pricing .style1.column .pricing-bottom .iconsignup i{position: absolute; top: 6px; transform:translateX(-50%)}

.yt-pricing .style1.column.featured .pricing-bottom .iconsignup i{position: absolute; left: 50%; position: absolute;transform: translate(-50%);}
.yt-pricing .style1.column.featured{background: #2f2f2f url('../images/featured.png') no-repeat top right /75px 105px; background-position: 102% -5px ; color: #fff; margin-top: 10px;padding-bottom: 50px; border-radius: 5px; position: relative;}
.yt-pricing .style1.column.featured .pricing-basic h2{color: #e74847	}
.yt-pricing .style1.column .pricing-featured{position: absolute;top: 23px; right: -35px;transform: rotate(56deg);
-webkit-transform: rotate(55deg);
-ms-transform: rotate(55deg);
-moz-transform: rotate(55deg); width: 123px; text-align: center;}
.yt-pricing .style2.column { text-align: center; box-shadow: #888 -5px 10px 20px ;border-radius: 5px; margin-bottom: 20px;padding-left:0}
.yt-pricing .style2.column:last-child{padding-right:0}
.yt-pricing .style2.column.featured span.pricing-featured{background: #f00; padding: 5px; border-radius: 5px; display: inline-block;}
.yt-pricing .style2.column .pricing-basic{display: inline-block; text-align: center; height: 85px;width: 100%;border-radius: 5px 5px 0 0; padding:25px 0px}
.yt-pricing .style2.column .pricing-basic h2{font-size: 160%;line-height: 110%;margin: 0 0 6px; padding: 0; color:#fff;}
.yt-pricing .style2.column .pricing-money{display: inline-block;margin: 20px 0;}
.yt-pricing .style2.column .pricing-bottom {padding: 10px; border-radius: 5px 5px;}
.yt-pricing .style2.column .pricing-bottom a{display: inline-block; width: 100%; border-radius: 5px; padding: 15px 0; text-transform: uppercase;font-size: 20px;}
.yt-pricing .style2 ul {margin: 0 auto; padding: 0; width: 95%;border: #f5f5f5 1px solid}
.yt-pricing .style2 ul li{list-style: none; background: #f2f2f2; border: #e4e4e4 1px solid; border-top: none; padding: 10px 0px;}
.yt-pricing .style3.column{text-align: center; border:#ccc 1px solid; border-radius: 5px; margin-bottom: 10px;}
.yt-pricing .style3 ul {margin: 0 auto; width: 100%; padding:0}
.yt-pricing .style3 ul li{list-style: none; background: #f2f2f2; padding: 10px 0px; border-top: #ccc 1px solid}
.yt-pricing .style3 ul li:nth-child(2n){background: #d4d4d4}
.yt-pricing .style3.column .pricing-basic{display: inline-block; text-align: center; width: 100%;border-radius: 5px 5px 0 0; padding-top: 15px;}
.yt-pricing .style3.column .pricing-basic h2{border-bottom: #bf2322 1px solid; padding-bottom: 10px; color:#fff;}
.yt-pricing .style3.column .pricing-money{display: inline-block; background: #e74847; width:100%;}
.yt-pricing .style3.column .pricing-money h1{color:#fff;  font-size: 26px;  background: #bc201f;  display: inline-block;  padding: 5px 30px;  border-radius: 40px; font-weight:normal; margin:0;}
.yt-pricing .style3.column.featured span.pricing-featured{background: #bc201f; padding: 5px; border-radius: 5px; display: inline-block; margin-bottom: 10px;}
.yt-pricing .style3.column .pricing-bottom a{display: inline-block; width: 100%; padding: 15px 0; text-transform: uppercase;font-size: 20px;}
/* .yt-pricing [class*="col"]{
padding: 0;
}
.yt-pricing .col-xs-1,.yt-pricing .col-sm-1,.yt-pricing .col-md-1,.yt-pricing .col-lg-1{
	width: 7.333%;
	margin-left: 1%;
	float: left;
}
.yt-pricing .col-xs-1:first-child,.yt-pricing .col-sm-1:first-child,.yt-pricing .col-md-1:first-child,.yt-pricing .col-lg-1:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-2,.yt-pricing .col-sm-2,.yt-pricing .col-md-2,.yt-pricing .col-lg-2{
	width: 14.6666%;
	margin-left: 2%;
	float: left;
}
.yt-pricing .col-xs-2:first-child,.yt-pricing .col-sm-2:first-child,.yt-pricing .col-md-2:first-child,.yt-pricing .col-lg-2:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-3,.yt-pricing .col-sm-3,.yt-pricing .col-md-3,.yt-pricing .col-lg-3{
	width: 22.5%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-3:first-child,.yt-pricing .col-sm-3:first-child,.yt-pricing .col-md-3:first-child,.yt-pricing .col-lg-3:first-child{
	margin-left: 0%;
}
.yt-pricing .col-xs-4,.yt-pricing .col-sm-4,.yt-pricing .col-md-4,.yt-pricing .col-lg-4{
	width: 31.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-4:first-child,.yt-pricing .col-sm-4:first-child,.yt-pricing .col-md-4:first-child,.yt-pricing .col-lg-4:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-5,.yt-pricing .col-sm-5,.yt-pricing .col-md-5,.yt-pricing .col-lg-5{
	width: 38.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-5:first-child,.yt-pricing .col-sm-5:first-child,.yt-pricing .col-md-5:first-child,.yt-pricing .col-lg-5:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-6,.yt-pricing .col-sm-6,.yt-pricing .col-md-6,.yt-pricing .col-lg-6{
	width: 47%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-6:first-child,.yt-pricing .col-sm-6:first-child,.yt-pricing .col-md-6:first-child,.yt-pricing .col-lg-6:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-7,.yt-pricing .col-sm-7,.yt-pricing .col-md-7,.yt-pricing .col-lg-7{
	width: 55.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-7:first-child,.yt-pricing .col-sm-7:first-child,.yt-pricing .col-md-7:first-child,.yt-pricing .col-lg-7:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-8,.yt-pricing .col-sm-8,.yt-pricing .col-md-8,.yt-pricing .col-lg-8{
	width: 63.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-8:first-child,.yt-pricing .col-sm-8:first-child,.yt-pricing .col-md-8:first-child,.yt-pricing .col-lg-8:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-9,.yt-pricing .col-sm-9,.yt-pricing .col-md-9,.yt-pricing .col-lg-9{
	width: 72%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-9:first-child,.yt-pricing .col-sm-9:first-child,.yt-pricing .col-md-9:first-child,.yt-pricing .col-lg-9:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-10,.yt-pricing .col-sm-10,.yt-pricing .col-md-10,.yt-pricing .col-lg-10{
	width: 80.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-10:first-child,.yt-pricing .col-sm-10:first-child,.yt-pricing .col-md-10:first-child,.yt-pricing .col-lg-10:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-11,.yt-pricing .col-sm-11,.yt-pricing .col-md-11,.yt-pricing .col-lg-11{
	width: 88.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-xs-11:first-child,.yt-pricing .col-sm-11:first-child,.yt-pricing .col-md-11:first-child,.yt-pricing .col-lg-11:first-child{
	margin-left: 0;
}
.yt-pricing .col-xs-12,.yt-pricing .col-sm-12,.yt-pricing .col-md-12,.yt-pricing .col-lg-12{
	width: 100%;
}
@media (min-width: 768px){
.yt-pricing .col-sm-1{
	width: 7.333%;
	margin-left: 1%;
	float: left;
}
.yt-pricing .col-sm-1:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-2:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-3{
	width: 22.5%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-3:first-child{
	margin-left: 0%;
}
.yt-pricing .col-sm-4{
	width: 31.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-4:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-5{
	width: 38.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-5:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-6{
	width: 47%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-6:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-7{
	width: 55.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-7:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-8{
	width: 63.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-8:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-9{
	width: 72%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-9:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-10{
	width: 80.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-10:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-11{
	width: 88.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-sm-11:first-child{
	margin-left: 0;
}
.yt-pricing .col-sm-12{
	width: 100%;
}
}
@media (min-width: 992px) {
.yt-pricing .col-md-1{
	width: 7.333%;
	margin-left: 1%;
	float: left;
}
.yt-pricing .col-md-1:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-2{
	width: 14.6666%;
	margin-left: 2%;
	float: left;
}
.yt-pricing .col-md-2:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-3{
	width: 22.5%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-3:first-child{
	margin-left: 0%;
}
.yt-pricing .col-md-4{
	width: 31.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-4:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-5{
	width: 38.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-5:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-6{
	width: 47%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-6:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-7{
	width: 55.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-7:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-8{
	width: 63.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-8:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-9{
	width: 72%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-9:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-10{
	width: 80.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-10:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-11{
	width: 88.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-md-11:first-child{
	margin-left: 0;
}
.yt-pricing .col-md-12{
	width: 100%;
}
}
@media (min-width: 1200px) {
.yt-pricing .col-lg-1{
	width: 7.333%;
	margin-left: 1%;
	float: left;
}
.yt-pricing .col-lg-1:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-2{
	width: 14.6666%;
	margin-left: 2%;
	float: left;
}
.yt-pricing .col-lg-2:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-3{
	width: 22.5%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-3:first-child{
	margin-left: 0%;
}
.yt-pricing .col-lg-4{
	width: 31.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-4:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-5{
	width: 38.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-5:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-6{
	width: 47%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-6:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-7{
	width: 55.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-7:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-8{
	width: 63.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-8:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-9{
	width: 72%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-9:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-10{
	width: 80.333%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-10:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-11{
	width: 88.6666%;
	margin-left: 3%;
	float: left;
}
.yt-pricing .col-lg-11:first-child{
	margin-left: 0;
}
.yt-pricing .col-lg-12{
	width: 100%;
}
} */