.yt-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap
}
.yt-product {
    text-align: center
}
.yt-product-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.yt-product-wrapper>img {
    display: block
}
.yt-single-point {
    position: absolute;
    border-radius: 50%
}
.yt-single-point>a {
    position: relative;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: inherit;
    background: #d95353;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .3);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s
}
.yt-single-point>a::after,
.yt-single-point>a:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s
}
.yt-single-point>a::after {
    height: 2px;
    width: 12px
}
.yt-single-point>a::before {
    height: 12px;
    width: 2px
}
.yt-single-point::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: transparent;
    -webkit-animation: cd-pulse 2s infinite;
    -moz-animation: cd-pulse 2s infinite;
    animation: cd-pulse 2s infinite
}
.yt-single-point.is-open>a {
    background-color: #475f74
}
.yt-single-point.is-open>a::after,
.yt-single-point.is-open>a::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    transform: translateX(-50%) translateY(-50%) rotate(135deg)
}
.yt-single-point.is-open::after {
    display: none
}
.yt-single-point.is-open .yt-more-info {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, -webkit-transform .3s 0s, top .3s 0s, bottom .3s 0s, left .3s 0s, right .3s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s, -moz-transform .3s 0s, top .3s 0s, bottom .3s 0s, left .3s 0s, right .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, transform .3s 0s, top .3s 0s, bottom .3s 0s, left .3s 0s, right .3s 0s
}
.yt-single-point.visited>a {
    background-color: #475f74
}
.yt-single-point.visited::after {
    display: none
}
@media only screen and (min-width: 600px) {
    .yt-single-point.is-open .yt-more-info.yt-left {
        right: 140%
    }
    .yt-single-point.is-open .yt-more-info.yt-right {
        left: 140%
    }
    .yt-single-point.is-open .yt-more-info.yt-top {
        bottom: 140%
    }
    .yt-single-point.is-open .yt-more-info.yt-bottom {
        top: 140%
    }
}
.yt-single-point .yt-more-info {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 95%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-align: left;
    line-height: 1.5;
    background-color: #d95353;
    padding: 2em 1em 1em;
    visibility: hidden;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, -webkit-transform .3s 0s, top .3s 0s, bottom .3s 0s, left .3s 0s, right .3s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s, -moz-transform .3s 0s, top .3s 0s, bottom .3s 0s, left .3s 0s, right .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, transform .3s 0s, top .3s 0s, bottom .3s 0s, left .3s 0s, right .3s 0s
}
.yt-single-point .yt-more-info::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    display: none;
    border: 8px solid transparent
}
.yt-single-point .yt-more-info h2 {
    font-size: 22px;
    font-size: 1.375rem;
    margin-bottom: .6em
}
@media only screen and (min-width: 600px) {
    .yt-single-point .yt-more-info {
        position: absolute;
        width: 220px;
        height: 240px;
        padding: 1em;
        overflow-y: visible;
        line-height: 1.4;
        border-radius: .25em;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5)
    }
    .yt-single-point .yt-more-info::before {
        display: block
    }
    .yt-single-point .yt-more-info.yt-left,
    .yt-single-point .yt-more-info.yt-left::before,
    .yt-single-point .yt-more-info.yt-right,
    .yt-single-point .yt-more-info.yt-right::before {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    .yt-single-point .yt-more-info.yt-left {
        right: 160%;
        left: auto
    }
    .yt-single-point .yt-more-info.yt-left::before {
        border-left-color: #d95353;
        left: 100%
    }
    .yt-single-point .yt-more-info.yt-right {
        left: 160%
    }
    .yt-single-point .yt-more-info.yt-right::before {
        border-right-color: #d95353;
        right: 100%
    }
    .yt-single-point .yt-more-info.yt-bottom,
    .yt-single-point .yt-more-info.yt-bottom::before,
    .yt-single-point .yt-more-info.yt-top,
    .yt-single-point .yt-more-info.yt-top::before {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .yt-single-point .yt-more-info.yt-top {
        bottom: 160%;
        top: auto
    }
    .yt-single-point .yt-more-info.yt-top::before {
        border-top-color: #d95353;
        top: 100%
    }
    .yt-single-point .yt-more-info.yt-bottom {
        top: 160%
    }
    .yt-single-point .yt-more-info.yt-bottom::before {
        border-bottom-color: #d95353;
        bottom: 100%
    }
    .yt-single-point .yt-more-info h2 {
        font-size: 20px
    }
}
.yt-close-info {
    position: fixed;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px
}
.yt-close-info::after,
.yt-close-info:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-color: #fff;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s
}
.yt-close-info::after {
    height: 2px;
    width: 16px
}
.yt-close-info::before {
    height: 16px;
    width: 2px
}


.yt-single-point.is-open::after {
  display: none;
}
.yt-single-point.is-open .cd-more-info {
  visibility: visible;
  opacity: 1;
}
.yt-single-point.visited::after {
  display: none;
}