.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.section-style5{background-image:url('../../../../../image/catalog/demo/banners/home10/h10-bgdeal.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:scroll ;background-size:cover;}

