.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_gjrf{margin:0 0 20px 0; overflow:hidden;}
.row_5h3w{margin:0 -15px 30px -15px; overflow:hidden;}

.row_8ikj{margin:0 -15px 15px -15px; overflow:hidden;}

/* Style Product Carousel */ 
.product_carousel_sfrq .yt-carousel-slide {background-color:#ffffff;color:#ffffff;}.product_carousel_sfrq.yt-carousel-slide .yt-carousel-slide-title a {color: #ffffff;}.product_carousel_sfrq.yt-carousel-slide .price {color: #ffffff;}.product_carousel_sfrq.yt-carousel-slide .yt-carousel-slide-title a:hover {color: #ffffff;}.product_carousel_sfrq.yt-carousel-slide .price:hover {color: #ffffff;}
.row_af3b{margin:0 -15px 30px -15px; overflow:hidden;}

.row_zdy9{background-image:url('../../../../../image/catalog/page-funi/bg-parallax.png');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover; overflow:hidden;}

.row_xvk6{margin:0 -15px 30px -15px; overflow:hidden;}

/* Style Product Carousel */ 
.product_carousel_5ef7 .yt-carousel-slide {background-color:#ffffff;color:#ffffff;}.product_carousel_5ef7.yt-carousel-slide .yt-carousel-slide-title a {color: #ffffff;}.product_carousel_5ef7.yt-carousel-slide .price {color: #ffffff;}.product_carousel_5ef7.yt-carousel-slide .yt-carousel-slide-title a:hover {color: #ffffff;}.product_carousel_5ef7.yt-carousel-slide .price:hover {color: #ffffff;}
