.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.section-bg-1{background-image:url('../../../../../image/catalog/demo/banners/home7/bg-home7-1.jpg');background-repeat:no-repeat; background-position:center top; background-attachment:scroll ;background-size:cover;}

.section-bg-2{background-image:url('../../../../../image/catalog/demo/banners/home7/bg-home7-2.jpg');background-repeat:no-repeat; background-position:center top; background-attachment:scroll ;background-size:cover;}

.section-bg-3{background-image:url('../../../../../image/catalog/demo/banners/home7/bg-home7-3.jpg');background-repeat:no-repeat; background-position:center top; background-attachment:scroll ;}

