.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.f5-section-style1{background-image:url('../../../../../image/catalog/demo/bonuspage/newletter/bg-newsltter5.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:scroll ;}

