.section-video,.row-video,.col-video {
	position: relative;
}
.bg-video {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
}
div#content .col-lg-2:nth-child(6n+1), #content .col-lg-2:nth-child(6n+1), #content .col-lg-3:nth-child(4n+1), #content .col-lg-4:nth-child(3n+1), #content .col-lg-6:nth-child(2n+1){
	clear:none
}