{{ header }}{{ column_left }}

			
				<div class="content-area py-1">
					<div class="container-fluid">
						<div class="row row-md mb-2">
							<div class="col-md-4">
								<div class="box box-block bg-white">
									<div class="clearfix mb-1">
										<h5 class="float-xs-left">Projects</h5>
										<div class="float-xs-right">
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-angle-down"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-reload"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-close"></i></button>
										</div>
									</div>
									<div class="text-xs-center">
										<div class="btn-group mb-1">
											<button type="button" class="btn btn-secondary btn-sm active waves-effect waves-light">Complete</button>
											<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Open</button>
										</div>
									</div>
									<div class="chart-container" style="height: 250px;">
										<div id="chart-1" class="chart-placeholder"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box box-block bg-white">
									<div class="clearfix mb-1">
										<h5 class="float-xs-left">Tasks</h5>
										<div class="float-xs-right">
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-angle-down"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-reload"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-close"></i></button>
										</div>
									</div>
									<div class="text-xs-center">
										<div class="btn-group mb-1">
											<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Today</button>
											<button type="button" class="btn btn-secondary btn-sm active waves-effect waves-light">Week</button>
											<button type="button" class="btn btn-secondary btn-sm active waves-effect waves-light">Month</button>
										</div>
									</div>
									<div class="chart-container" style="height: 250px;">
										<div id="chart-2" class="chart-placeholder"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box box-block bg-white">
									<div class="clearfix mb-1">
										<h5 class="float-xs-left">Sales</h5>
										<div class="float-xs-right">
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-angle-down"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-reload"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-close"></i></button>
										</div>
									</div>
									<div class="text-xs-center">
										<div class="btn-group mb-1">
											<button type="button" class="btn btn-secondary btn-sm active waves-effect waves-light">Mobile</button>
											<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Web</button>
											<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Retail</button>
										</div>
									</div>
									<div class="chart-container" style="height: 250px;">
										<div id="chart-3" class="chart-placeholder"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row row-md mb-2">
							<div class="col-md-4">
								<div class="box box-block bg-white">
									<h5 class="mb-2">Current progress</h5>
									<p class="mb-0-5">Vance Osborn <span class="float-xs-right">25%</span></p>
									<progress class="progress progress-success progress-sm" value="25" max="100">100%</progress>
									<p class="mb-0-5">Wolfe Stevie <span class="float-xs-right">75%</span></p>
									<progress class="progress progress-danger progress-sm" value="75" max="100">100%</progress>
									<p class="mb-0-5">Carleton Josiahn <span class="float-xs-right">40%</span></p>
									<progress class="progress progress-info progress-sm" value="40" max="100">100%</progress>
									<p class="mb-0-5">Ron Carran <span class="float-xs-right">18%</span></p>
									<progress class="progress progress-primary progress-sm" value="18" max="100">100%</progress>
									<p class="mb-0-5">Lucius Skyler <span class="float-xs-right">90%</span></p>
									<progress class="progress progress-success progress-sm" value="90" max="100">100%</progress>
									<p class="mb-0-5">Landon Graham <span class="float-xs-right">63%</span></p>
									<progress class="progress progress-primary progress-sm mb-0" value="63" max="100">100%</progress>
								</div>
							</div>
							<div class="col-md-8">
								<div class="box bg-white">
									<div class="box-block clearfix">
										<h5 class="float-xs-left">Contracts</h5>
										<div class="float-xs-right">
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-angle-down"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-reload"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-close"></i></button>
										</div>
									</div>
									<table class="table mb-md-0">
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>Walmart</td>
												<td>
													<a class="text-primary" href="#"><span class="underline">First project</span></a>
												</td>
												<td>
													<span class="text-muted">5 minutes ago</span>
												</td>
												<td>
													<span class="tag tag-primary">signed</span>
												</td>
											</tr>
											<tr>
												<th scope="row">2</th>
												<td>Sinopec Group</td>
												<td>
													<a class="text-primary" href="#"><span class="underline">Second project</span></a>
												</td>
												<td>
													<span class="text-muted">3 days ago</span>
												</td>
												<td>
													<span class="tag tag-success">paid</span>
												</td>
											</tr>
											<tr>
												<th scope="row">3</th>
												<td>Apple</td>
												<td>
													<a class="text-primary" href="#"><span class="underline">Third project</span></a>
												</td>
												<td>
													<span class="text-muted">Last monday</span>
												</td>
												<td>
													<span class="tag tag-success">paid</span>
												</td>
											</tr>
											<tr>
												<th scope="row">4</th>
												<td>McKesson</td>
												<td>
													<a class="text-primary" href="#"><span class="underline">Another project</span></a>
												</td>
												<td>
													<span class="text-muted">5 minutes ago</span>
												</td>
												<td>
													<span class="tag tag-danger">lost</span>
												</td>
											</tr>
											<tr>
												<th scope="row">5</th>
												<td>Costco</td>
												<td>
													<a class="text-primary" href="#"><span class="underline">Old project</span></a>
												</td>
												<td>
													<span class="text-muted">3 days ago</span>
												</td>
												<td>
													<span class="tag tag-success">paid</span>
												</td>
											</tr>
											<tr>
												<th scope="row">6</th>
												<td>Foxconn</td>
												<td>
													<a class="text-primary" href="#"><span class="underline">Important project</span></a>
												</td>
												<td>
													<span class="text-muted">Last monday</span>
												</td>
												<td>
													<span class="tag tag-primary">signed</span>
												</td>
											</tr>
											<tr>
												<th scope="row">7</th>
												<td>Tata Group</td>
												<td>
													<a class="text-primary" href="#"><span class="underline">First project</span></a>
												</td>
												<td>
													<span class="text-muted">5 minutes ago</span>
												</td>
												<td>
													<span class="tag tag-success">paid</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row row-md mb-2">
							<div class="col-md-6">
								<div class="card">
									<div class="card-block b-b clearfix">
										<h5 class="float-xs-left">Messages</h5>
										<div class="float-xs-right">
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-angle-down"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-reload"></i></button>
											<button class="btn btn-link btn-sm text-muted" type="button"><i class="ti-close"></i></button>
										</div>
									</div>
									<div class="items-list">
										<div class="il-item">
											<a class="text-black" href="#">
												<div class="media">
													<div class="media-left">
														<div class="avatar box-48">
															<img class="b-a-radius-circle" src="img/avatars/1.jpg" alt="">
															<i class="status bg-success bottom right"></i>
														</div>
													</div>
													<div class="media-body">
														<h6 class="media-heading">John Doe</h6>
														<span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</span>
													</div>
												</div>
												<div class="il-icon"><i class="fa fa-angle-right"></i></div>
											</a>
										</div>
										<div class="il-item">
											<a class="text-black" href="#">
												<div class="media">
													<div class="media-left">
														<div class="avatar box-48">
															<img class="b-a-radius-circle" src="img/avatars/2.jpg" alt="">
															<i class="status bg-danger bottom right"></i>
														</div>
													</div>
													<div class="media-body">
														<h6 class="media-heading">John Doe</h6>
														<span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</span>
													</div>
												</div>
												<div class="il-icon"><i class="fa fa-angle-right"></i></div>
											</a>
										</div>
										<div class="il-item">
											<a class="text-black" href="#">
												<div class="media">
													<div class="media-left">
														<div class="avatar box-48">
															<img class="b-a-radius-circle" src="img/avatars/3.jpg" alt="">
															<i class="status bg-secondary bottom right"></i>
														</div>
													</div>
													<div class="media-body">
														<h6 class="media-heading">John Doe</h6>
														<span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</span>
													</div>
												</div>
												<div class="il-icon"><i class="fa fa-angle-right"></i></div>
											</a>
										</div>
									</div>
									<div class="card-block">
										<button type="submit" class="btn btn-primary btn-block">Open chat app</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="box box-block bg-white">
									<h5 class="mb-2">CPU load</h5>
									<div class="chart-container" style="height: 340px;">
										<div id="realtime" class="chart-placeholder"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="box box-block bg-white tile tile-4 mb-2">
									<div class="t-icon left bg-danger"><i class="ti-shopping-cart-full"></i></div>
									<div class="t-content text-xs-right">
										<h6 class="text-uppercase">Orders</h6>
										<h1 class="mb-0">1,325</h1>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="box box-block bg-white tile tile-4 mb-2">
									<div class="t-icon left bg-success"><i class="ti-bar-chart"></i></div>
									<div class="t-content text-xs-right">
										<h6 class="text-uppercase">Revenue</h6>
										<h1 class="mb-0">$ 47,855</h1>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="box box-block bg-white tile tile-4 mb-2">
									<div class="t-icon left bg-primary"><i class="ti-package"></i></div>
									<div class="t-content text-xs-right">
										<h6 class="text-uppercase">Products</h6>
										<h1 class="mb-0">6,800</h1>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="box box-block bg-white tile tile-4 mb-2">
									<div class="t-icon left bg-warning"><i class="ti-receipt"></i></div>
									<div class="t-content text-xs-right">
										<h6 class="text-uppercase">Sold</h6>
										<h1 class="mb-0">1,682</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				{{ footer }}