<!-- Footer -->
				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-xs-center">
							<div class="col-sm-4 text-sm-left mb-0-5 mb-sm-0">
								2016 © Neptune
							</div>
							<div class="col-sm-8 text-sm-right">
								<ul class="nav nav-inline l-h-2">
									<li class="nav-item"><a class="nav-link text-black" href="#">Privacy</a></li>
									<li class="nav-item"><a class="nav-link text-black" href="#">Terms</a></li>
									<li class="nav-item"><a class="nav-link text-black" href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>

		</div>

		<!-- Vendor JS -->
		<script type="text/javascript" src="view/vendor/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="view/vendor/tether/js/tether.min.js"></script>
		<script type="text/javascript" src="view/vendor/bootstrap4/js/popper.min.js"></script>
		<script type="text/javascript" src="view/vendor/bootstrap4/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="view/vendor/detectmobilebrowser/detectmobilebrowser.js"></script>
		<script type="text/javascript" src="view/vendor/jscrollpane/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="view/vendor/jscrollpane/mwheelIntent.js"></script>
		<script type="text/javascript" src="view/vendor/jscrollpane/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" src="view/vendor/jquery-fullscreen-plugin/jquery.fullscreen-min.js"></script>
		<script type="text/javascript" src="view/vendor/waves/waves.min.js"></script>
		<script type="text/javascript" src="view/vendor/switchery/dist/switchery.min.js"></script>
		<script type="text/javascript" src="view/vendor/flot/jquery.flot.min.js"></script>
		<script type="text/javascript" src="view/vendor/flot/jquery.flot.pie.js"></script>
		<script type="text/javascript" src="view/vendor/flot/jquery.flot.stack.js"></script>
		<script type="text/javascript" src="view/vendor/flot/jquery.flot.resize.min.js"></script>
		<script type="text/javascript" src="view/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
		<script type="text/javascript" src="view/vendor/CurvedLines/curvedLines.js"></script>
		<script type="text/javascript" src="view/vendor/TinyColor/tinycolor.js"></script>
		<script type="text/javascript" src="view/vendor/sparkline/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="view/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
		<script type="text/javascript" src="view/vendor/jvectormap/jquery-jvectormap-world-mill.js"></script>

		<!-- Neptune JS -->
		<script type="text/javascript" src="view/javascript/app.js"></script>
		<script type="text/javascript" src="view/javascript/demo.js"></script>
		<script type="text/javascript" src="view/javascript/index3.js"></script>
	</body>
</html>