   <footer class="main-footer">&copy; 2018 <a href="https://www.multipurposethemes.com/">Multi-Purpose Themes</a>. All Rights Reserved.</footer>
 
  
</div>
<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<script src="view/javascript/jquery/jquery-3.3.1.min.js" ></script>
	
	<!-- jQuery UI 1.11.4 -->
	<script src="view/javascript/jquery-ui/jquery-ui.js"></script>
	
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	
	<!-- popper -->
	<script src="view/javascript/popper.min.js"></script>
	
	
	<!-- Bootstrap 4.1.1-->
	<script src="view/javascript/bootstrap/js/bootstrap.min.js" ></script>
	
	<!-- Slimscroll -->
	<script src="view/javascript/jquery-slimscroll/jquery.slimscroll.js"></script>
	
	<!-- FastClick -->
	<!-- FastClick -->
	<script src="view/javascript/fastclick/lib/fastclick.js"></script>
	
	<!-- Fab Admin App -->
	<script src="view/javascript/template.js"></script>
	
	
</body>
</html>
